/*slider section style */

.slider_section{
	background:url(../images/large-loader.jpg);
}
.main_slidersection{
	margin:60px 0px;
}
.slider_section_information{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}

/*slider section style end*/

/*booking section style*/

.booking_section{}
.main_booking_section{
	margin:60px 0px;
}
.booking_title{
	text-align: center;
}
.booking_title h2{}
.booking_information{
	text-align: center;
}
.{}
.{}
.{}

/*booking section style end*/